.links line {
  stroke: #ffffff;
}

// .nodes circle {
//   fill: #16171c;
// }

text {
  font-family: sans-serif;
  font-size: 12px;
  fill: white;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
  cursor: pointer;
  font-family: "Poiret One";
}

#single {
  svg {
    display: none;
  }
}

.state-viewSingle {
  #single {
    svg {
      display: block;
    }
  }
}
