.links line {
  stroke: #ffffff;
}

text {
  font-family: sans-serif;
  font-size: 12px;
  fill: var(--text-color);
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
  cursor: pointer;
  font-family: "Poiret One";
  text-shadow: 0px 0px 6px var(--bg-dark);
}

#single {
  svg {
    display: none;

    g,
    line {
      transition: opacity 0.3s ease;
    }
  }
}

.n-hidden {
  opacity: 0;
}

.state-viewSingle {
  #single {
    z-index: 1;
    svg {
      display: block;
    }
  }
}
