.links line {
  stroke: #ffffff62;
}

.nodes circle {
  // fill: #16171c;
}

text {
  font-family: sans-serif;
  font-size: 12px;
  fill: white;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
  cursor: pointer;
  font-family: "Poiret One";
}

#all > svg {
  text {
    font-size: 25px;
  }

  circle {
    cursor: pointer;

    transition: fill 0.3s ease;

    &:hover {
      fill: #272831;
    }
  }
}
