#toggle {
  position: fixed;
  z-index: 99;

  top: 10px;
  left: 10px;

  height: 20px;
  width: 20px;

  border-radius: 50%;

  background: linear-gradient(45deg, #fff100, red);

  transition: background 0.3s ease;

  cursor: pointer;
}

#toggle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 66%;
  height: 66%;

  transform-origin: 66% 33%;

  transform: scale(0);
  background-color: white;

  border-radius: 10px;

  transition: transform 0.3s ease;
}

#toggle.is-light {
  background: linear-gradient(45deg, #211f68, rgb(89, 99, 133));

  &::after {
    transform: scale(1);
  }
}
