body {
  overflow: hidden;
  font-family: "Poiret One";
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(150deg, #16171c, rgba(18, 20, 27, 0.95));
}

.bg {
  background: #16171c;
  color: white;
}
.bg-gradient {
  color: #ddd;
  background: linear-gradient(150deg, #16171c, #3b3e4b9a);
  fill: #ddd;
}

@media (prefers-color-scheme: dark) {
  .bg {
    background: #16171c;
    color: white;
  }
  .bg-gradient {
    background: linear-gradient(150deg, #16171c, #3b3e4b9a);
    color: #ddd;
    fill: #ddd;
  }
}

@media (prefers-color-scheme: light) {
  .bg {
    background: #333;
    color: white;
  }
  .bg-gradient {
    background: black;
    color: #ddd;
  }
}

#action-list {
  position: absolute;
  bottom: 130px;
  left: 10px;
}

.state-loading #action-list {
  display: none;
}

#action-list > .square {
  position: absolute;
  left: 0;

  display: none;

  cursor: pointer;

  width: 80px;
  height: 80px;

  box-sizing: border-box;

  padding: 20px;

  border-radius: 50%;
}

.state-viewAll #create-new {
  display: block;
}

.state-creating #list-all {
  display: block;
}

.square {
  position: relative;
  width: 20vmin;
  margin: 1.5rem;
  padding-top: 20vmin;
  z-index: 0;
}

.shadow--offset::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: -10px -10px 30px 0 #000000a3, 10px 10px 30px 0 rgba(59, 59, 76, 0.31);
  z-index: -1;

  transition: transform 0.3s ease, opacity 0.3s ease;
}

.shadow--hover:hover::before {
  transform: scale(0.8);
  opacity: 0.8;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;

  transition: opacity 1s ease, transform 1s ease, border-radius 1s ease;
}

#create {
  transform: scale(0);

  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;

  border-radius: 100%;

  background-color: #16171c;
}

.state-creating #create {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

#all > .sphere {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  background-color: #16171c;
  transition: transform 0.1s;
  cursor: pointer;

  font-size: 0.8em;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.5s ease;

  background: linear-gradient(315deg, #16171c77, #3b3e4b77);
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.02), -15px -15px 30px rgba(0, 0, 0, 0.25);
}

#all > .sphere:hover {
  background-color: #1d1e25;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.02), -5px -5px 10px rgba(0, 0, 0, 0.25);
}

#all > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sphere-center {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, 50%);
  color: white;
}

.state-loading #loading {
  opacity: 1;
}

.state-viewAll #all {
  pointer-events: all;
}

.state-viewSingle #all {
  opacity: 0.2;
}

#single {
  opacity: 0;
  pointer-events: none;
  > svg {
    position: absolute;
  }
}

.state-viewSingle,
.state-creating {
  > #single {
    opacity: 1;
    pointer-events: all;
  }
}

.state-creating {
  #input-form {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
    opacity: 1;
  }
  svg {
    display: none;
  }
}

#input-form {
  z-index: 99;
  position: absolute;
  width: 50vw;
  height: 50vw;
  top: 50vh;
  left: 50vw;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  opacity: 0;

  > #input {
    position: relative;
    font-size: 2em !important;
    color: white;

    background: none;
    min-width: 100px;
    border: none;
    padding-bottom: 2px;
    transition: width 0.5s !important;
    outline: none;

    &:empty::before {
      content: "Word..";
      color: gray;
      position: absolute;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -5px;
      left: 0px;
      border-radius: 5px;
      background-color: rgb(59, 62, 75);
    }
  }
}

svg {
  height: 100%;
  width: 100%;

  > * {
    fill: #16171c;
  }
}
