body {
  overflow: hidden;
  font-family: "Poiret One";
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(150deg, #16171c, rgba(18, 20, 27, 0.95));
}

.bg {
  background: #16171c;
  color: white;
}
.bg-gradient {
  color: #ddd;
  background: linear-gradient(150deg, #16171c, #3b3e4b9a);
  fill: #ddd;
}

@media (prefers-color-scheme: dark) {
  .bg {
    background: #16171c;
    color: white;
  }
  .bg-gradient {
    background: linear-gradient(150deg, #16171c, #3b3e4b9a);
    color: #ddd;
    fill: #ddd;
  }
}

@media (prefers-color-scheme: light) {
  .bg {
    background: #333;
    color: white;
  }
  .bg-gradient {
    background: black;
    color: #ddd;
  }
}

#action-list {
  position: absolute;
  bottom: 130px;
  left: 10px;
}

#action-list > .square {
  position: absolute;
  left: 0;

  cursor: pointer;

  width: 80px;
  height: 80px;

  box-sizing: border-box;

  padding: 20px;

  border-radius: 50%;
}

#create-new {
  display: none;
}

.state-viewAll {
  #create-new {
    display: block;
  }

  #list-all {
    display: none;
  }
}

.square {
  position: relative;
  width: 20vmin;
  margin: 1.5rem;
  padding-top: 20vmin;
  z-index: 0;
}

.shadow--offset::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: -10px -10px 30px 0 #000000a3,
    10px 10px 30px 0 rgba(59, 59, 76, 0.31);
  z-index: -1;

  transition: transform 0.3s ease, opacity 0.3s ease;
}

.shadow--hover:hover::before {
  transform: scale(0.8);
  opacity: 0.8;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;

  transition: opacity 1s ease, transform 1s ease, border-radius 1s ease;
}

#create {
  transform: scale(0);

  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;

  border-radius: 100%;

  background-color: #16171c;
}

.state-creating #create {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.state-loading #loading {
  opacity: 1;
}

.state-viewAll #all {
  pointer-events: all;
}

.state-viewSingle #all {
  opacity: 0.2;
}

#single {
  opacity: 0;
  pointer-events: none;
  > svg {
    position: absolute;
  }
}

.state-viewSingle,
.state-creating {
  > #single {
    opacity: 1;
    pointer-events: all;
  }
}

#input-form::after {
  background-color: #16171c;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s 0.1s ease;
}
.state-creating {
  #input-form {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
    opacity: 1;
  }
  #input-form::after {
    opacity: 1;
    transform: scale(1);
  }
}

#input-form {
  z-index: 99;
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-height: unquote("min(50vw, 50vh)");
  max-width: unquote("min(50vw, 50vh)");
  top: 50vh;
  left: 50vw;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  opacity: 0;

  background-color: #16171c;
  background: linear-gradient(100deg, #16171c, #3b3e4b);

  transition: opacity 0.3s ease, box-shadow 0.3s 0.3s ease;

  > #input {
    position: relative;
    font-size: 2em !important;
    color: white;

    background: none;
    min-width: 100px;
    border: none;
    padding-bottom: 2px;
    transition: width 0.5s !important;
    outline: none;

    &:empty::before {
      content: "new word..";
      white-space: nowrap;
      text-align: center;
      width: 100%;
      color: gray;
      position: absolute;
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 5px;
    //   bottom: -5px;
    //   left: 0px;
    //   border-radius: 5px;
    //   background-color: rgb(59, 62, 75);
    // }
  }
}

#action-list {
  svg {
    * {
      fill: #16171c;
    }
  }
}
